.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.login-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form__input {
    width: 100%;
    border: 1px solid #00000066;
    color: #00000066;
    border-radius: 8px;
    padding: 16px;
    line-height: 24px;
}

.login-form__input.error {
    border-color: #FF7575;
}

.login-form__error {
    color: #FF7575;
}

.login-form__submit-btn {
    width: 100%;
    padding: 16px;
    background: #67A5EB;
    border-radius: 28px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.login-form__change-btn {
    font-weight: 700;
    line-height: 24px;
}