.main-page {
    height: 100%;
}

/* Hero */
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    gap: 30px;
}

.hero__info {
    width: 100%;
    max-width: 600px;
}

.hero__details {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__raiting-detail {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    line-height: 24px;
    background-color: #308E21;
    padding: 4px 12px;
    border-radius: 16px;
    color: #fff;
}

.hero__relase-year-detail, .hero__genres-detail, .hero__runtime-detail {
    line-height: 24px;
    color: #ffffffb2;
}

.hero__title {
    margin: 16px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}

.hero__text {   
    font-size: 24px;
    line-height: 32px;
    color: #ffffffb2;
    margin-bottom: 60px;
}

.hero__btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__trailer-btn {
    color: #fff;
    background-color: #67A5EB;
    padding: 16px 48px;
    border-radius: 28px;
    font-weight: 700;
    line-height: 24px;
}

.hero__info-btn {
    color: #fff;
    background-color: #393B3C;
    padding: 16px 48px;
    border-radius: 28px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid #00000066;
    border-radius: 28px;
}

.hero__favorite-btn, .hero__update-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000066;
    padding: 16px 22px;
    border-radius: 28px;
    background-color: #333333;
}

.hero__favorite-img, .hero__update-img {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
}

.hero__poster {
    width: 100%;
    max-width: 680px;
    height: 100%;
    max-height: 552px;
    border-radius: 16px;
}

/* Top-movies */
.top-movies {
    padding: 40px 0 120px;
}

.top-movies__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 64px;
}

.top-movies__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 64px 40px;
}

.top-movies__item {
    position: relative;
}

.top-movies__item-number {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6A5DC2;
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 50px;
    top: -12px;
    left: -12px;
}

.top-movies__item-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 80px 0px #FFFFFF54;
    border-radius: 16px;
}

@media (max-width: 1200px) {
    .hero__title {
        font-size: 38px;
    }

    .hero__text {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .hero__trailer-btn, .hero__info-btn {
        padding: 16px 32px;
    }
}
@media (max-width: 1024px) {
    .hero__inner {
        flex-direction: column-reverse;
    }

    .hero__poster {
        max-width: 100%;
    }

    .hero__info {
        max-width: 100%;
    }
}
@media (max-width: 520px) {
    .hero__btns {
        flex-wrap: wrap;
    }

    .hero__trailer-btn {
        width: 100%;
    }

    .hero__info-btn {
        flex-grow: 1;
        text-align: center;
    }

    .top-movies__heading {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
    }

    .top-movies__list {
        display: flex;
        gap: 40px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 12px;
        padding-top: 12px;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .top-movies__list::-webkit-scrollbar {
        display: none;
    }

    .top-movies__item-img {
        width: 224px;
        min-width: 224px;
        max-width: 224px;
        height: 336px;
        min-height: 336px;
        max-height: 336px;
        box-shadow: none;
    }
}
@media (max-width: 480px) {
    .hero__inner {
        gap: 24px;
    }

    .hero__relase-year-detail, .hero__genres-detail, .hero__runtime-detail {
        font-size: 14px;
        line-height: 20px;
    }

    .hero__title {
        margin: 12px 0;
        font-size: 24px;
        line-height: 32px;
    }

    .hero__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}