.footer {
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
}

.footer__socials-list {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.footer__socials-item > img {
  width: 36px;
  height: 36px;
}

@media (max-width: 480px) {
  .footer {
    padding: 24px 0;
  }

  .footer, .footer__socials-list {
    justify-content: flex-start;
  }
}