/* Movie */
.movie__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    gap: 35px;
}

.movie__info {
    width: 100%;
    max-width: 600px;
}

.movie__details {
    display: flex;
    gap: 16px;
    align-items: center;
}

.movie__relase-year-detail, .movie__genres-detail, .movie__runtime-detail {
    line-height: 24px;
    color: #ffffffb2;
}

.movie__raiting-detail {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background-color: #308E21;
    padding: 4px 12px;
    border-radius: 16px;
    color: #fff;
}

.movie__title {
    margin: 16px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}

.movie__text {
    font-size: 24px;
    line-height: 32px;
    color: #ffffffb2;
    margin-bottom: 60px;
}

.movie__btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.movie__trailer-btn {
    color: #fff;
    background-color: #67A5EB;
    padding: 16px 48px;
    border-radius: 28px;
    font-weight: 700;
    line-height: 24px;
}

.movie__favorite-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000066;
    padding: 16px 22px;
    border-radius: 28px;
    background-color: #333333;
}

.movie__favorite-img {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
}

.movie__poster {
    width: 100%;
    max-width: 680px;
    height: 100%;
    max-height: 552px;
    border-radius: 16px;
}

/* Info */
.info-section {
    padding: 40px 0 120px;
    color: #fff;
}

.info__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 64px;
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}

.info__item {
    line-height: 24px;
    position: relative;
}

.info__item span:first-child {
    float: left;
    padding-right: 8px;
}
.info__item span + span {
    float: right;
    padding-left: 8px;
}

.info__item::after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
    .movie__title {
        font-size: 38px;
    }

    .movie__text {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .movie__trailer-btn {
        padding: 16px 32px;
    }
}

@media (max-width: 1024px) {
    .movie__inner {
        flex-direction: column-reverse;
    }

    .movie__poster {
        max-width: 100%;
    }

    .movie__info {
        max-width: 100%;
    }
}

@media (max-width: 520px) {
    .movie__trailer-btn {
        flex-grow: 1;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .movie__inner {
        gap: 24px;
    }

    .movie__relase-year-detail, .movie__genres-detail, .movie__runtime-detail {
        font-size: 14px;
        line-height: 20px;
    }

    .movie__title {
        margin: 12px 0;
        font-size: 24px;
        line-height: 32px;
    }

    .movie__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .info__title {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
    }

    .info__list {
        gap: 12px;
    }

    .info__item {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .info__item::after {
        display: none;
    }

    .info__item span:first-child, .info__item span + span {
        padding: 0;
    }

    .info__item span:first-child {
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF80;
    }
}