.account-section {
    height: 100vh;
    padding: 64px 0 160px;
    color: #fff;
}

.account__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 64px;
}

.account__tabs {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 64px;
}

.account__tab.current {
    border-bottom: 2px solid #DC5DFC;
}

.account__tab-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.account__tab-text {
    font-size: 24px;
    line-height: 32px;
}

.account__tab-mobile-text {
    display: none;
}

/* favorites-tab */
.favorites__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 64px 40px;
}

.favorites__item {
    position: relative;
}

.favorites__poster-img {
    width: 100%;
    height: 100%;
    max-width: 224px;
    max-height: 336px;
    border-radius: 16px;
    box-shadow: 0px 0px 80px 0px #FFFFFF54;
}

.favorites__remove-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 100%;
    background-color: #fff;
    display: none;
    transition: all 0.3s ease-in-out;
}

.favorites__item:hover .favorites__remove-btn {
    display: block;
}

.favorites__remove-img {
    width: 24px;
    height: 24px;
}

.favorites__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
}

/* settings-tab */
.settings__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 64px;
}

.settings__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.settings__item-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.settings__item-title {
    font-size: 18px;
    line-height: 24px;
}

.settings__item-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.settings__item-icon {
    background: #FFFFFF80;
    border-radius: 100%;
}

.settings__name-item .settings__item-icon {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 14px;
}

.settings__email-item .settings__item-icon {
    width: 60px;
    height: 60px;
    padding: 18px;
}

.settings__link {
    display: block;
    width: fit-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background-color: #67A5EB;
    color: #fff;
    padding: 16px 48px;
    border-radius: 28px;
}

@media (max-width: 1440px) {
    .favorites__list {
        gap: 20px;
    }

    .favorites__poster-img {
        max-width: 200px;
        max-height: 312px;
    }
}

@media (max-width: 600px) {
    .account-section {
        padding: 16px 0 152px;
    }

    .account__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .account__tabs {
        gap: 24px;
        margin-bottom: 40px;
    }

    .account__tab-text {
        display: none;
    }

    .account__tab-mobile-text {
        display: block;
    }
    
    /* favorites-tab */
    .favorites {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .favorites__list {
        display: flex;
        gap: 40px;
    }

    .favorites__list::-webkit-scrollbar {
        display: none;
    }

    .favorites__poster-img {
        position: relative;
        overflow: visible;
        background-color: #3c3c3c;
        box-shadow: none;
    }

    .favorites__heading {
        font-size: 26px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    /* settings-tab */
    .settings__list {
        margin-bottom: 40px;
    }

    .settings__item-title {
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF80;
    }

    .settings__item-text {
        font-size: 18px;
        line-height: 24px;
    }
}