.success-registration-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.success-registration-popup__box {
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 492px;
}

.success-registration-popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #fff;
    padding: 64px 40px;
    border-radius: 24px;
    width: 100%;
    max-width: 420px;
    position: relative;
}

.success-registration-popup__logo {
    width: 132px;
    height: 30px;
}

.success-registration-popup__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.success-registration-popup__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.success-registration-popup__text {
    line-height: 24px;
    text-align: center;
}

.success-registration-popup__submit-btn {
    width: 100%;
    padding: 16px;
    background: #67A5EB;
    border-radius: 28px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.success-registration-popup__close-btn {
    padding: 12px;
    border-radius: 100%;
    background-color: #fff;
    width: 48px;
    height: 48px;
}

.success-registration-popup__close-img {
    width: 24px;
    height: 24px;
}

.success-registration-popup__mobile-close-btn {
    display: none;
}
.success-registration-popup__mobile-close-img {
    width: 24px;
    height: 24px;
}

@media (max-width: 1440px) {
    .success-registration-popup__box {
        padding: 0 20px;
        gap: 0;
    }

    .success-registration-popup__content {
        padding: 64px 20px 32px;
        gap: 32px;
    }

    .success-registration-popup__close-btn {
        display: none;
    }

    .success-registration-popup__mobile-close-btn {
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 12px;
        background-color: #fff;
        width: 48px;
        height: 48px;
    }
}